body {
  font-family: sans-serif;
}

#app {
  width: 600px;
  height: 600px;
  margin: 100px auto;
}

#search {
  margin-top: 50px;
  height: 30px;
  font-size: 120%;
  padding: 5px;
}

.search-button {
  height: 40px;
}

.products {
  list-style-type: none;
  margin-top: 20px;
  overflow: hidden;
}

.products li {
  float: left;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  height: 200px;
  text-align: center;
}

.products li img {
  margin-top: 10px;
  width: 140px;
}

.command-list {
  margin-top: 30px;
}

.command-list div {
  margin: 10px 0;
  font-size: 120%;
}
