body {
  font-family: sans-serif;
}

#app {
  width: 970px;
  height: 600px;
  margin: 20px auto;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

#search {
  height: 30px;
  width: 450px;
  font-size: 120%;
  padding: 5px;
}

.search-button {
  height: 40px;
}

.products {
  list-style-type: none;
  margin-top: 20px;
  overflow: hidden;
}

.products li {
  float: left;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
  height: 200px;
  text-align: center;
}

.products li img {
  margin-top: 10px;
  width: 140px;
}

.command-list {
  margin: 50px auto 0 auto;
  width: 530px;
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}

.command-list div {
  margin: 10px 0;
  font-size: 120%;
}

.banner {
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none;
}
