html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  background-color: rgb(39, 40, 34);
  color: #fff;
  overflow: auto;
}

h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

h3 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #407eb8;
}

pre {
  background: #000 !important;
  border-radius: 5px;
  overflow: auto;
}

.language {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: #00C700;
  line-height: 2em;
}

.talkin, .code {
  max-width: 900px;
  margin: 50px auto 0;
}

.talkin article {
  margin-bottom: 50px;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3%;
}

.code {

}

.bubble {
    display: inline-block;
    position: relative;
    background: #00C700;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    width: 85px;
    height: 50px;
    border-radius: 11px;
    padding: 0px;
    margin-right: 40px;
    vertical-align: top;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 34px;
    border-color: transparent transparent transparent #00C700;
    top: 60%;
    right: -34px;
    margin-top: -10px;
}
